QWidget
{
   background-color: #3f3f3f;
}

QPushButton{
    Background: #7c7c7c;
    border: 3px solid black;
    border-radius: 10px;
}

QPushButton::pressed{
    border: 2px solid black;
    border-radius: 7px;
    background: #b5b5b5;

}

QLabel{
    color: #b5b5b5;
    Background: transparent;
}

QTabWidget{

    text-decoration: underline;
}

QTabWidget::pane {
    border-style: none;
    background: transparent;
}


QTabWidget::tab-bar {
    color: white;
     alignment: center;
}

QTabBar::tab:selected {
    background: transparent;
    color: #b5b5b5;
}

QTabBar::tab:!selected {
    color: #828181;
    background: transparent;
}

QTabBar::tab::disabled{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

QSpinBox{
    Background: transparent;
    color: #b5b5b5;
}

QGroupBox{
    color: black;
    margin-top: 5px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #7c7c7c;
}

QGroupBox::checked{
    border: 2px solid black;
    border-radius: 7px;
    background: #b5b5b5;
}

QGroupBox::indicator{

    border: none;
    background: transparent;
}

QCheckBox{
    color: #b5b5b5;
}

QCheckBox::indicator {
     width: 27px;
     height: 27px;
}
