/**********************************************/
/*Filename: darkmode.css
/*Author: Samuel Zeillinger
/*Created On: 13 Novmeber 2023 18:44
/*Description: Darmode stylesheet for all common widgets (stylesheet for dynamic widgets are set during runtime)
/**********************************************/

QWidget
{
   background-color: black;

}



QPushButton{
    color: white;
    Background: #e50616;
    border-radius: 20px;
}

QPushButton::pressed{
    Background: #5b5b5b;
    /*border: 2px solid black;*/
    border-radius: 20px;

}

QLabel{
    color: white;
    Background: transparent;

}


QSpinBox{
    color: white;
    Background-color: transparent;
    selection-background-color: transparent;
    selection-color: white;
    color: white;
}

QGroupBox{
    color: white;
    margin-top: 5px;
    font-weight: bold;
    /*border: 3px solid white;*/
    border-radius: 10px;
    background-color: #0068d0;

}

QGroupBox::checked{
    background-color: #5b5b5b;
    color: white;
    border-radius: 7px;
}

QGroupBox::indicator{
    width: 0px;
    border: none;
    background: transparent;
}

QCheckBox{
    color: white;

}

QCheckBox::indicator {
     width: 27px;
     height: 27px;
     border: 2px solid white;

}

QCheckBox::indicator:checked{
    margin-right: 2px;
    margin-left: 2px;
    image: url(:/Icons/checkmark_icon_inverted.png);
}

QCheckBox::indicator:unchecked{
    margin-right: 2px;
    margin-left: 2px;
    image: url(:/Icons/checkmark_icon.png);
}

QScrollArea{
    border: 3px solid white;
    border-radius: 7px;
}

QListWidget{
    border: 3px solid white;
    border-radius: 5px;
}

QListWidget::item{
    background-color: #e50616;
    color: white;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

QListWidget::item::selected{
    background-color: blue;
}

QRadioButton::indicator:checked{
        border: 7px solid white;
}

QRadioButton::indicator:unchecked{
        border: 2px solid #868686;
}

QProgressBar {
        color: black;
        background: white;
    border: 2px solid white;
    border-radius: 12px;
        text-align: center;
}


QProgressBar::chunk {
background: #049bac;
border-radius: 10px;
}

