QWidget
{
   background-color: black;

}



QPushButton{
    color: white;
    Background: #e50616;
    border-radius: 20px;
}

QPushButton::pressed{
    Background: #5b5b5b;
    /*border: 2px solid black;*/
    border-radius: 20px;

}

QLabel{
    color: white;
    Background: transparent;

}

QTabWidget{


}


QTabWidget::pane {
    /*border: 4px solid white;*/
    border-radius: 5px;
    background: transparent;
}


QTabWidget::tab-bar {
     alignment: center;

}

QTabBar::tab{
    /*border: 2px solid white;*/
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;

}

QTabBar::tab:selected {
    color: white;
    background: transparent;
    background: #e50616;
    border-radius: 5px;
}

QTabBar::tab:!selected {
    color: white;
    background: transparent;
    border-radius: 5px;
}

QTabBar::tab::disabled{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

QSpinBox{
    color: white;
    Background: transparent;
}

QGroupBox{
    color: white;
    margin-top: 5px;
    font-weight: bold;
    /*border: 3px solid white;*/
    border-radius: 10px;
    background-color: #0068d0;

}

QGroupBox::checked{
    background-color: #5b5b5b;
    color: white;
    border-radius: 7px;
}

QGroupBox::indicator{
    width: 0px;
    border: none;
    background: transparent;
}

QCheckBox{
    color: white;

}

QCheckBox::indicator {
     width: 27px;
     height: 27px;
     border: 2px solid white;

}

QCheckBox::indicator:checked{
    margin-right: 2px;
    margin-left: 2px;
    image: url(:/Icons/checkmark_icon_inverted.png);
}

QCheckBox::indicator:unchecked{
    margin-right: 2px;
    margin-left: 2px;
    image: url(:/Icons/checkmark_icon.png);
}

QScrollArea{
    border: 3px solid white;
    border-radius: 7px;
}

QListWidget{
    border: 3px solid white;
    border-radius: 5px;
}

QListWidget::item{
    background-color: #e50616;
    color: white;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

QListWidget::item::selected{
    background-color: blue;
}

