QWidget
{
   background-color: white;
}



QPushButton{
    color: white;
    Background: #e50616;
    border-radius: 20px;
}

QPushButton::pressed{
    Background: #5b5b5b;
    border-radius: 20px;
}


QLabel{
    color: black;
    Background: transparent;
}


QSpinBox{
    color: black;
    Background: transparent;
    selection-background-color: white;
}

QGroupBox{
    color: white;
    margin-top: 5px;
    font-weight: bold;
    /*border: 3px solid black;*/
    border-radius: 10px;
    background-color: #0068d0;

}

QGroupBox::checked{
    background-color: #5b5b5b;
    color: white;
    border-radius: 7px;
}

QGroupBox::indicator{
    width: 0px;
    border: none;
    background: transparent;
}

QCheckBox{
    color: black;
}

QCheckBox::indicator {
     width: 27px;
     height: 27px;
     border: 2px solid black;

}

QCheckBox::indicator:checked{
    image: url(:/Icons/checkmark_icon.png);
}

QCheckBox::indicator:unchecked{
    image: url(:/Icons/checkmark_icon_inverted.png);
}

QScrollArea{
    border: 3px solid black;
    border-radius: 7px;
}

QListWidget{
    border: 3px solid black;
    border-radius: 5px;
}

QListWidget::item{
    background-color: #e50616;
    color: white;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

QListWidget::item::selected{
    background-color: blue;
}




