QPushButton{
    Background: transparent;
    border: 3px solid black;
    border-radius: 10px;
}

QPushButton::pressed{
    border: 2px solid black;
    border-radius: 7px;

}

QLabel{
    Background: transparent;
}

QTabWidget{
    text-decoration: underline;
}

QTabWidget::pane {
    border-style: none;
    background: transparent;
}


QTabWidget::tab-bar {
     alignment: center;
}

QTabBar::tab:selected {
    background: transparent;
    color: blue;
}

QTabBar::tab:!selected {
    background: transparent;

}

QTabBar::tab::disabled{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

QSpinBox{
    Background: transparent;
}

QGroupBox{
    color: black;
    margin-top: 5px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 10px;
    background-color: transparent;
}

QGroupBox::indicator{
    width: 0px;
    border: none;
    background: transparent;
}

QCheckBox{
    color: black;
}

QCheckBox::indicator {
     width: 27px;
     height: 27px;
}

